<span class="inline-flex justify-center items-center rounded-full bg-white border border-stone-400 text-gray-600" style="width: <%= border_size %>rem; height: <%= border_size %>rem;">
  <%= render IconComponent.new(name: @name, size: @size, style: @style) %>
</span>
