<div class="flex justify-center p-2">
  <% if defined? sub -%>
    <h3 class="text-sm font-semibold text-stone-600">
  <% else -%>
    <h3 class="font-bold">
  <% end -%>
      <%= title %>
    </h3>
</div>
