<div class="container mx-auto mt-10">
  <div class="mt-2">
    <div class="grid grid-cols-6">
      <div class="flex justify-center">
      </div>
      <div class="flex justify-center">
        <h3 class="text-lg font-bold">
          Plan
        </h3>
      </div>
      <div class="flex justify-center">
        <h3 class="text-lg font-bold">
          Dev
        </h3>
      </div>
      <div class="flex justify-center">
        <h3 class="text-lg font-bold">
          Test
        </h3>
      </div>
      <div class="flex justify-center">
        <h3 class="text-lg font-bold">
          Review
        </h3>
      </div>
      <div class="flex justify-center">
        <h3 class="text-lg font-bold">
          Done
        </h3>
      </div>
    </div>
    <div class="mt-2 grid grid-cols-6">
      <div data-col="item">
        <div class="rounded-lg border border-solid border-gray-200 p-4">
          <p class="font-bold">
          [UI prototype]
          <br />
          Task board
          <br />
          all items just placed
          </p>
        </div>
      </div>
      <div data-col="plan" class="flex items-center">
        <div class="flow-line flex-grow">
          <div class="rounded-lg bg-amber-500 h-8 w-8 flex justify-center items-center text-md">
            <span class="font-bold text-gray-700">HS</span>
          </div>
        </div>
      </div>
    </diV>
  </diV>
</div>
