<div class="relative">
  <div class="absolute top-0 right-0 pt-1 pr-2">
    <%= render Ui::ContextMenuComponent.new %>
  </div>
  <div class="flex justify-center pt-2">
    <%= render Kanban::ItemCounterComponent.new(limit: @limit) %>
  </div>
  <div class="flex justify-center p-2">
    <h3 class="font-bold">
      <%= @title %>
    </h3>
  </div>
</div>
