@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}

@layer components {
  .button {
    @apply rounded-lg;
  }

  .form-input,
  .form-textarea,
  .form-select,
  .form-checkbox,
  {
    @apply border border-gray-300 rounded-lg;
  }

  .form-checkbox {
    @apply border border-gray-300 rounded;
  }

  .form-radio {
    @apply border border-gray-300 rounded-full;
  }

  .link,
  .text-link,
  .icon-link,
  .button,
  .form-input,
  .form-textarea,
  .form-select,
  .form-checkbox,
  .form-radio
  {
    @apply transition duration-300 focus:border-violet-300 focus:ring focus:ring-violet-300 focus:outline-0 focus:ring-opacity-80;
  }

  .text-link {
    @apply rounded text-stone-500 hover:underline;
  }

  .text-link-sm {
    @apply text-sm;
  }

  .icon-link {
    @apply rounded text-stone-500 hover:text-stone-600;
  }

  .icon-link-danger {
    @apply rounded text-stone-500 hover:text-rose-600;
  }

  .break-line {
    @apply flex items-center;
  }

  .break-line::after {
    @apply flex-grow bg-gray-200;
    margin-left: 0.5rem;
    content: '';
    height: 1px;
  }
}
