<div class="mt-10 px-8">
  <div class="w-full overflow-x-auto">
    <div style="height:92vh">
      <div class="flex flex-row gap-2">
        <% @work_flow.steps.each do |step| %>
          <%= render Kanban::StepComponent.new(step: step, work_flow: @work_flow) %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
